<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css">

    <title>Email : Ajout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<div class="row">
    <div class="col m12 "><a href="/">Home</a></div>
</div>

<form th:action="@{/addemail}" th:object="${email}" method="post">
    <fieldset>
        <p>Adresse: <input type="text" th:field="*{adress}" /></p>
        <label for="contact_select">Choisissez un contact:</label>

        <select id="contact_select" th:object="${contact}" >
            <option value=""> -- </option>
            <option th:each="c : ${contacts}" th:value="${c}" th:utext="${c.lastName}+' '+${c.firstName}"></option>
        </select>
        <p><input type="submit" value="Save" /> <input type="reset" value="Reset" /></p>
    </fieldset>
</form>
</body>
</html>