<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css">

    <!-- You should properly set the path from the main file. -->

    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="margin-left: 10px">
    <h1>Liste des contacts :</h1>

    <ul th:each=" e : ${contacts}">
        <li>
            <p th:text="'N°'+${e.id}+' '+${e.lastName}+' '+${e.firstName}"></p>
            <label for="label_mail">Adresse mail:</label>
            <ul id="label_mail">
                <li th:each="email : ${e.mailList}">
                    <a th:text="${email.adress}"></a>
                    <button type="button" th:onclick="|deleteMail('${email.id}')|"> Delete </button>
                </li>
            </ul>
            <button type="button" th:onclick="|modifyContact('${e.id}')|"><a>Modifier</a></button>
            <button type="button" th:onclick="|deleteContact('${e.id}')|"> <a >Supprimer</a> </button>
        </li>
    </ul>
    <button style="margin-left: 5px" type="button" th:onclick="|addContact()|">Ajouter un contact</button>
    <button style="margin-left: 5px" type="button" th:onclick="|addEmail()|">Ajouter une adresse mail</button>
</div>
</body>
<script type="text/javascript">
    function modifyContact(id) {
        window.location.href = `/viewcontact/${id}`
    }

    function deleteContact(id) {
        window.location.href = `/viewcontact/${id}/delete`
    }
    function addContact() {
        window.location.href = "/addContact"
    }
    function addEmail() {
        window.location.href = "/addemail"
    }
    function deleteMail(id) {
        window.location.href = `/email/${id}/delete`
    }
</script>
</html>